<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<a id="scale-demo" href="#!" class="btn-floating btn-large scale-transition">
  <i class="material-icons">add</i>
</a>

<a id="scale-demo" href="#!" class="btn-floating btn-large scale-transition scale-out">
  <i class="material-icons">add</i>
</a>

<div class="row">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Card Title</span>
        <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>

  <!-- 呼び出し用ボタン -->
<a href="#modal" class="btn btn-default">Modalデモ</a>

<!-- Modal本体 -->
<!-- ボタンが押されると呼び出される -->
<div class="remodal" data-remodal-id="modal">
<!-- クローズボタン -->
<button data-remodal-action="close" class="remodal-close"></button>
  <h1>Remodal</h1>
  <!-- your content -->
  <p> Remodalテスト </p>
  <p> Write something. </p>
  <br>
  <!-- キャンセルボタン -->
  <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
  <!-- サブミットボタン -->
  <button data-remodal-action="confirm" class="remodal-confirm">OK</button>
</div>
