<div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="box-holder animated bounceInDown">
                <span class="load-box"><span class="box-inner"></span></span>
            </div>
            <!-- NAME & STATUS -->
            <div class="text-holder text-center">
                <h2>JOHN DOE</h2>
                <h6>Software Engineer & UI/UX Expert</h6>
            </div>
        </div>
    </div>
</div>

<!--==========================================
                    HEADER
===========================================-->
<header id="home">
    <nav id="theMenu" class="menu">

        <!--MENU-->
        <div id="menu-options" class="menu-wrap">

            <!--PERSONAL LOGO-->
            <div class="logo-flat">
                <img alt="personal-logo" class="img-responsive" src="images/profile/john.png">
            </div>
            <br>

            <!--OPTIONS-->
            <a href="#home"><i class="title-icon fa fa-user"></i>Home</a>
            <a href="#about"><i class="title-icon fa fa-dashboard"></i>About</a>
            <a href="#testimonials"><i class="title-icon fa fa-users"></i>Testimonials</a>
            <a href="#pricing-table"><i class="title-icon fa fa-money"></i>Pricing</a>
            <a href="#blog"><i class="title-icon fa fa-pencil-square"></i>Blog</a>
        </div>

        <!-- MENU BUTTON -->
        <div id="menuToggle">
            <div class="toggle-normal">
                <i class="material-icons top-bar">remove</i>
                <i class="material-icons middle-bar">remove</i>
                <i class="material-icons bottom-bar">remove</i>
            </div>
        </div>
    </nav>

    <!--HEADER BACKGROUND-->
    <div class="header-background section"></div>

</header>


<!--==========================================
                   V-CARD
===========================================-->
<div id="v-card-holder" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <!-- V-CARD -->
                <div id="v-card" class="card">

                    <!-- PROFILE PICTURE -->
                    <div id="profile" class="right">
                        <img alt="profile-image" class="img-responsive" src="images/profile/profile.png">
                        <div class="slant"></div>

                        <!--EMPTY PLUS BUTTON-->
                        <div class="btn-floating btn-large add-btn"><i class="material-icons">add</i></div>

                        <!--VIDEO PLAY BUTTON-->
                        <!--<div id="button-holder" class="btn-holder">
                            <div id="play-btn" class="btn-floating btn-large btn-play">
                                <i id="icon-play" class="material-icons">play_arrow</i>
                            </div>
                        </div>-->
                    </div>
                    <!--VIDEO CLOSE BUTTON-->
                    <!--<div id="close-btn" class="btn-floating icon-close">
                        <i class="fa fa-close"></i>
                    </div>-->

                    <div class="card-content">

                        <!-- NAME & STATUS -->
                        <div class="info-headings">
                            <h4 class="text-uppercase left">John DOE</h4>
                            <h6 class="text-capitalize left">Software Engineer & UI/UX Expert</h6>
                        </div>

                        <!-- CONTACT INFO -->
                        <div class="infos">
                            <ul class="profile-list">
                                <li class="clearfix">
                                    <span class="title"><i class="material-icons">email</i></span>
                                    <span class="content">email@mailprovider.com</span>
                                </li>
                                <li class="clearfix">
                                    <span class="title"><i class="material-icons">language</i></span>
                                    <span class="content">yourpersonalwebsite.com</span>
                                </li>
                                <li class="clearfix">
                                    <span class="title"><i class="fa fa-skype" aria-hidden="true"></i></span>
                                    <span class="content">yourusername@skype.com</span>
                                </li>
                                <li class="clearfix">
                                    <span class="title"><i class="material-icons">phone</i></span>
                                    <span class="content">+152 25634 254 846</span>
                                </li>
                                <li class="clearfix">
                                    <span class="title"><i class="material-icons">place</i></span>
                                    <span class="content">LampStreet 34/3, London, UK</span>
                                </li>

                            </ul>
                        </div>

                        <!--LINKS-->
                        <div class="links">
                            <!-- FACEBOOK-->
                            <a href="#" id="first_one"
                               class="social btn-floating indigo"><i
                                    class="fa fa-facebook"></i></a>
                            <!-- TWITTER-->
                            <a href="#" class="social  btn-floating blue"><i
                                    class="fa fa-twitter"></i></a>
                            <!-- GOOGLE+-->
                            <a href="#" class="social  btn-floating red"><i
                                    class="fa fa-google-plus"></i></a>
                            <!-- LINKEDIN-->
                            <a href="#" class="social  btn-floating blue darken-3"><i
                                    class="fa fa-linkedin"></i></a>
                            <!-- RSS-->
                            <a href="#" class="social  btn-floating orange darken-3"><i
                                    class="fa fa-rss"></i></a>
                        </div>
                    </div>
                    <!--HTML 5 VIDEO-->
                    <!-- <video id="html-video" class="video" poster="images/poster/poster.jpg" controls>
                        <source src="videos/........" type="video/webm">
                        <source src="videos/..........." type="video/mp4">
                    </video>-->

                </div>
            </div>
        </div>
    </div>
</div>

<!--==========================================
                   ABOUT
===========================================-->
<div id="about" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- DETAILS -->
                <div id="about-card" class="card">
                    <div class="card-content">
                        <!-- ABOUT PARAGRAPH -->
                        <p>
                            Hello! I’m John Doe. Senior Web Developer with over 13 years of experience
                            specializing in front end development. Experienced with all stages of the
                            development cycle for dynamic web projects.Having an in-depth knowledge
                            including advanced HTML5, CSS, CSS3, SASS, LESS, JSON, XML, Java, JavaScript,
                            JQuery, Angular JS. Strong background in management and leadership.
                        </p>
                    </div>

                    <!-- BUTTONS -->
                    <div id="about-btn" class="card-action">
                        <div class="about-btn">
                            <!-- DOWNLOAD CV BUTTON -->
                            <a href="#" class="btn waves-effect">Download CV</a>
                            <!-- CONTACT BUTTON -->
                            <a href="#contact" class="btn waves-effect">Contact Me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--==========================================
             TESTIMONIALS AND CLIENTS
===========================================-->
<section id="testimonials" class="section">
    <div class="container">
        <!-- SECTION TITLE -->
        <div class="section-title">
            <h4 class="text-uppercase text-center"><img src="images/icons/handshake.png" alt="demo">Testimonials</h4>
        </div>
        <div id="testimonials-card" class="row card">
            <div class="col-md-12 col-xs-12">

                <!-- SLIDER STRUCTURE -->
                <div id="clients-slider"
                     class="swiper-container swiper-container-clients">
                    <div class="swiper-wrapper">
                        <!-- SLIDE ONE -->
                        <div class="swiper-slide">
                            <div class="col-md-12">
                                <!--CLIENT IMAGE-->
                                <div class="client-img center-block">
                                    <img alt="client-image" class="center-block" src="images/clients/client-1.png">
                                </div>
                                <!--CLIENT QUOTE-->
                                <blockquote>
                                    I work with John on several web development projects and I find him to be extremely
                                    creative and a technical Front End Developer. Jone expertise involves building
                                    complex
                                    Responsive Design layouts using HTML 5, CSS3, and JavaScript.
                                    I work with John on several web development projects and I find him to be extremely
                                    creative and a technical Front End Developer. Jone expertise involves building
                                    complex
                                    Responsive Design layouts using HTML 5, CSS3, and JavaScript.
                                    <cite>Mike, CEO, IT World.</cite>
                                </blockquote>
                            </div>
                        </div>

                        <!-- SLIDE TWO -->
                        <div class="swiper-slide">
                            <div class="col-md-12">
                                <!--CLIENT IMAGE-->
                                <div class="client-img center-block">
                                    <img alt="client-image" class="center-block" src="images/clients/client-2.png">
                                </div>
                                <!--CLIENT QUOTE-->
                                <blockquote>
                                    I work with John on several web development projects and I find him to be extremely
                                    creative and a technical Front End Developer.
                                    <cite>Mike, CEO, IT World.</cite>
                                </blockquote>
                            </div>
                        </div>

                        <!-- SLIDE THREE -->
                        <div class="swiper-slide">
                            <div class="col-md-12">
                                <!--CLIENT IMAGE-->
                                <div class="client-img center-block">
                                    <img alt="client-image" class="center-block" src="images/clients/client-3.png">
                                </div>
                                <!--CLIENT QUOTE-->
                                <blockquote>
                                    I work with John on several web development projects and I find him to be extremely
                                    creative and a technical Front End Developer. Jone expertise involves building
                                    complex
                                    Responsive Design layouts using HTML 5, CSS3, and JavaScript.
                                    <cite>Mike, CEO, IT World.</cite>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination swiper-pagination-clients"></div>
                </div>
            </div>
        </div>
        <div id="clients">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="clients-wrap">
                            <!--CLIENT LOGO'S-->
                            <ul id="clients-list" class="clearfix">
                                <li><img src="images/logos/logo1.png" alt="client-logo"></li>
                                <li><img src="images/logos/logo2.png" alt="client-logo"></li>
                                <li><img src="images/logos/logo3.png" alt="client-logo"></li>
                                <li><img src="images/logos/logo4.png" alt="client-logo"></li>
                                <li><img src="images/logos/logo5.png" alt="client-logo"></li>
                                <li><img src="images/logos/logo6.png" alt="client-logo"></li>
                                <li><img src="images/logos/logo7.png" alt="client-logo"></li>
                                <li><img src="images/logos/logo8.png" alt="client-logo"></li>
                                <li><img src="images/logos/logo9.png" alt="client-logo"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--==========================================
             PRICING TABLE
===========================================-->
<section id="pricing-table" class="section">
    <div class="container">
        <!--SECTION TITLE-->
        <div class="section-title">
            <h4 class="text-uppercase text-center"><img src="images/icons/lightning.png" alt="demo">Pricing</h4>
        </div>
        <!--PRICING TABLES-->
        <div id="pricing-card" class="row">
            <!--PRICING ONE-->
            <div id="p-one" class="col-md-4 col-sm-4 col-xs-12">
                <div class="pricing">
                    <div class="card">
                        <!--PRICING TOP-->
                        <div class="pricing-top">
                            <p><sup>$</sup><em>50</em>/mo</p>
                            <span>Starter</span>
                        </div>
                        <!--PRICING DETAILS-->
                        <div class="pricing-bottom text-center text-capitalize">
                            <ul>
                                <li>2 GB Bandwidth</li>
                                <li>5 GB Disk Space</li>
                                <li>5 Databases</li>
                                <li>Free Domain</li>
                                <li>5 Subdomain</li>
                            </ul>
                        </div>
                        <!--BUTTON-->
                        <div class="card-action text-center">
                            <a class="waves-effect btn">Purchase</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--PRICING TWO-->
            <div id="p-three" class="col-md-4 col-sm-4 col-xs-12">
                <div class="pricing">
                    <div class="card">
                        <!--PRICING TOP-->
                        <div class="pricing-top">
                            <p><sup>$</sup><em>200</em>/mo</p>
                            <span>Ultimate</span>
                        </div>
                        <!--PRICING DETAILS-->
                        <div class="pricing-bottom text-center text-capitalize">
                            <ul>
                                <li>∞ Bandwidth</li>
                                <li>∞ Disk Space</li>
                                <li>∞ Databases</li>
                                <li>Free Domain</li>
                                <li>∞ Subdomain</li>
                            </ul>
                        </div>
                        <!--BUTTON-->
                        <div class="card-action text-center">
                            <a class="waves-effect btn">Purchase</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--PRICING THREE-->
            <div id="p-two" class="col-md-4 col-sm-4 col-xs-12">
                <div class="pricing">
                    <div class="card">
                        <!--PRICING TOP-->
                        <div class="pricing-top">
                            <p><sup>$</sup><em>100</em>/mo</p>
                            <span>Business</span>
                        </div>
                        <!--PRICING DETAILS-->
                        <div class="pricing-bottom text-center text-capitalize">
                            <ul>
                                <li>5 GB Bandwidth</li>
                                <li>25 GB Disk Space</li>
                                <li>10 Databases</li>
                                <li>Free Domain</li>
                                <li>15 Subdomain</li>
                            </ul>
                        </div>
                        <!--BUTTON-->
                        <div class="card-action text-center">
                            <a class="waves-effect btn">Purchase</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!--==========================================
             BLOG
===========================================-->
<section id="blog" class="section">
    <div class="container">
        <!-- SECTION TITLE -->
        <div class="section-title">
            <h4 class="text-uppercase text-center"><img src="images/icons/post-it.png" alt="demo">Blog</h4>
        </div>
        <div id="blog-card" class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card">
                    <!--BLOG ODD-->
                    <div class="blog odd">
                        <!--IMAGE-->
                        <div class="image">
                            <img alt="blog-image" src="images/blog/blog-2.png"/>
                            <div class="image-overlay">
                                <div class="comments">
                                    <i class="fa fa-user"></i> John Doe
                                    <i class="fa fa-clock-o"></i>
                                    <time datetime="2045-08-16">August 7, 2020</time>
                                    <i class="fa fa-comments"></i> 168
                                </div>
                            </div>
                        </div>
                        <!--DETAILS-->
                        <div class="content">
                            <ol class="breadcrumb">
                                <li><a href="#">Frontend</a></li>
                                <li><a href="#">Design</a></li>
                                <li class="active">Material</li>
                            </ol>
                            <h6>Material Design</h6>
                            <p>
                                Web design encompasses many different skills and disciplines in the production
                                of websites.Web design include web graphic design, interface design etc.
                            </p>
                            <a class="forward" href="single-blog.html">Read More</a>
                        </div>
                    </div>
                    <!--BLOG EVEN-->
                    <div class="blog even">
                        <!--IMAGE-->
                        <div class="image">
                            <img alt="blog-image" src="images/blog/blog-1.png"/>
                            <div class="image-overlay">
                                <div class="comments">
                                    <i class="fa fa-user"></i> John Doe
                                    <i class="fa fa-clock-o"></i>
                                    <time datetime="2045-08-16">August 7, 2020</time>
                                    <i class="fa fa-comments"></i> 168
                                </div>
                            </div>
                        </div>
                        <!--DETAILS-->
                        <div class="content">
                            <ol class="breadcrumb">
                                <li><a href="#">Backend</a></li>
                                <li><a href="#">Dev</a></li>
                                <li class="active">Shortcuts</li>
                            </ol>
                            <h6>Development Shortcut</h6>
                            <p>
                                Web development is a broad term for the work involved in developing a web site
                                for the Internet or an intranet. Now lets get a bit deeper in this topic
                            </p>
                            <a class="forward" href="single-blog.html">Read More</a>
                        </div>
                    </div>
                    <!--BLOG ODD-->
                    <div class="blog odd">
                        <!--IMAGE-->
                        <div class="image">
                            <img alt="blog-image" src="images/blog/blog-3.png"/>
                            <div class="image-overlay">
                                <div class="comments">
                                    <i class="fa fa-user"></i> John Doe
                                    <i class="fa fa-clock-o"></i>
                                    <time datetime="2045-08-16">August 7, 2020</time>
                                    <i class="fa fa-comments"></i> 168
                                </div>
                            </div>
                        </div>
                        <!--DETAILS-->
                        <div class="content">
                            <ol class="breadcrumb">
                                <li><a href="#">Frontend</a></li>
                                <li><a href="#">Specs</a></li>
                                <li class="active">UI</li>
                            </ol>
                            <h6>A Good UI</h6>
                            <p>
                                The user interface (UI), in the industrial design field of human–machine
                                interaction, is the space where interactions between humans and machines occur.
                            </p>
                            <a class="forward" href="single-blog.html">Read More</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!--==========================================
                     SCROLL TO TOP
===========================================-->
<div id="scroll-top">
    <div id="scrollup"><i class="fa fa-angle-up"></i></div>
</div>

<!--==========================================
                      FOOTER
===========================================-->

<footer>
    <div class="container">
        <!--FOOTER DETAILS-->
        <p class="text-center">
            © Material CV. All right reserved by
            <a href="http://trimatrixlab.com/" target="_blank">
                <strong>Trimatrixlab</strong>
            </a>
        </p>
    </div>
</footer>
