<!DOCTYPE html>
<html>
  <head>
    <title>Rails5Startkit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- GOOGLE FONT -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <!-- ANIMATION -->
    <link href="stylesheets/vendors/animate.min.css" rel="stylesheet">
    <!-- MAGNIFICENT POPUP -->
    <link href="stylesheets/vendors/magnific-popup.css" rel="stylesheet">
    <!-- SWIPER -->
    <link href="stylesheets/vendors/swiper.min.css" rel="stylesheet">
    <!-- CUSTOM STYLE -->
    <link href="stylesheets/style.css" id="switch_style" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
  <script src="javascript/vendors/retina.min.js"></script>
  <script src="javascript/vendors/scrollreveal.min.js"></script>
  <script src="javascript/vendors/swiper.jquery.min.js"></script>
  <script src="javascript/vendors/jquery.magnific-popup.min.js"></script>
  <script src="javascript/custom.js"></script>

</html>
